@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
:link, :visited {color: inherit;text-decoration: none;}
nav ul {list-style: none;}
body {font-family: '맑은 고딕';font-size: 12px;color: #333;background-color: #fff;}

#wrap {width: 1200px;margin: 0 auto;}

header {height: 100px;position: relative;}
#logo {padding-top: 25px;}

#mBack {position: absolute;top: 100%;z-index: 2;width: 100%;height: 108px;background-color: rgba(0,0,0,0.65);display: none;}
header>nav {position: absolute;top: 60px; right: 10px;z-index: 3;}


.submenu {display: none;}
.submenu>li>a {display: block;height: 36px;line-height: 36px;font-size: 16px;color: #fff;transition-duration: .4s;}
.submenu>li>a:hover {background-color: #30a3f3;}


section {height: 220px;}
section>div {float: left;padding: 8px 0 0;}

#notice {width: 30%;}
#notice>table {width: 100%;border-collapse: collapse;margin-top: -5px;}
#notice td:last-child {text-align: center;}
#notice th, #notice td {padding: 3px 0 4px;}
#notice td {border-top: 1px dotted #666;}
#notice tr:hover>td {background-color: #eee;}

#gallery {width: 40%;}
#gallery>a>img {width: 33.33%;float: left;padding: 5px;transition-duration: .4s;}
#gallery>a>img:hover {transform: rotate(5deg);}

#quick {width: 30%;}
#quick>a {display: block;width: 33.33%;float: left;text-align: center;padding: 15px;margin-top: 30px;transition-duration: .4s;}
#quick>a:hover {transform: scale(1.2);font-weight: bold;}
#quick>a>img {width: 100%;}


footer {height: 100px;background-color: #474747;color:#fff;}
footer>div {float: left;}
#fbox {width: 1000px;padding: 40px;}
#fbox>div {padding: 5px;line-height: 20px;}
#family {width: 200px;padding-top: 40px;line-height: 20px;}

#modal {position: fixed;width: 100%;height: 100%;top:0;background-color: rgba(0,0,0,0.65);z-index: 9; display: none}
#pop {position: absolute;top: 100px;left: 30%;background-color: #fff;width: 420px;padding: 10px;}
#pop>h2 {padding-bottom: 10px;border-bottom: 1px dotted #333;margin-bottom: 10px;}
#pop>p {line-height: 1.8;}
#chk {vertical-align: middle;}
.close {float: right;padding: 3px 5px;}
.pad8 {padding-top: 8px;}

*{margin: 0;padding: 0;box-sizing: border-box;}
a:link, a:visited {color: inherit;text-decoration: none;}
nav ul {list-style: none;}
body {font-family: 'Noto Sans KR', sans-serif, '맑은 고딕';}

header {height: 100px;position: relative;}
#logo {padding: 20px 20px 0;}
header>nav {position: absolute;right: 10px;z-index: 3;top: 60px;}

#gnb>li {float: left;text-align: center;}
#gnb>li>a {width: 160px;height: 40px;display: block; font-size: 18px;line-height: 40px;transition-duration: .4s;}
#gnb>li:hover>a {background-color:#30a3f3;color:#fff;}

/* #gnb>li:hover>.submenu {height: 144px;}  */
/* #gnb:hover .submenu {height: 144px;} */

.submenu {height: 144;background-color: rgba(0, 0, 0, 0.125);display: none;}
.submenu>li>a {display: block;height: 36px;line-height: 36px;font-size: 16px; color: #fff}
.submenu>li>a:hover {background-color:#30a3f3;}



section {margin-top: 20px; overflow: hidden;}
section h2 {padding: 10px;}
.w100 {width: 100%;}


*{margin:0; padding:0; box-sizing: border-box;}
html{scroll-behavior: smooth;}
a:link, a:visited {color: inherit; text-decoration: none;}
nav ul{list-style: none;}
body{font-family: 'Noto Sans KR', sans-serif, '맑은 고딕'; font-size:12px;}

[class*=span]{float:left; margin-right:2%;}
[class*=span]:last-child{margin-right:0;}
.pad8{padding-top:8px;}


#wrap{width:1200px; margin:0 auto;}
header{height:100px; position:relative;}
header>p{float: right;}
header>p>a>i{margin: 0 8px;}

#logo{padding:20px 20px 0;}
header>nav{position:absolute; right:10px; z-index:3; top:60px;} 

/* #gnb>li:hover>.submenu{height:144px;}*/
/* #gnb:hover .submenu{height:144px;} */

.submenu{height:108px; background-color: #0066ad; display: none;}
.submenu>li>a{display:block; height:36px; line-height:36px; font-size:16px; color:#fff; transition-duration: .4s;}
.submenu>li>a:hover{background-color: #00497e;}

#slide{height:300px; position:relative; overflow:hidden;}
#slide>a{position:absolute; left:100%;}
#slide>a:first-child{left:0;}

section{margin-top:20px; overflow:hidden;}
section h2{padding:10px;}
.w100{width:100%;}

